/* Set the height of html and body to 100% to make sure the map fills the screen */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Prevents scrolling */
}

/* Style for the container div */
.map.div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding: 200px;
}

/* Header style */
.map.h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  position: absolute;
  z-index: 1;
  top: 20px;
}

/* SVG map takes up the full screen */
.map.svg {
  width: 100%;
  height: 100%;
  display: inline-flex;
  border: 1px solid #ccc;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  top: 0;
  left: 100;
  z-index: 0; /* Ensure the map stays behind the header and text */
}

/* Circle (dot) styles */
.map.circle {
  transition: fill 0.3s ease;
}

/* Hover effect for dots */
circle:hover {
  cursor: pointer;
  fill: rgb(209, 209, 209);
}

/* Text displaying hovered dot */
.map.p {
  font-size: 16px;
  color: #555;
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* Add some basic styling for profile cards */
